// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-style: normal;
    color: white;
}

.table{
    color: white;
    background-color: rgb(31, 29, 29);
}

body {
    background-color: rgb(31, 29, 29);
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
}

.table th {
    color: orange;
    padding: .625rem;
}

.table td{
    padding: .625rem;
}

.table .cancellato{
    color: red;
}

.table .ritardo{
    color:rgb(255, 200, 0);
}
